# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# adicionar isso no .env.local
# NEXT_PUBLIC_SUPABASE_URL=https://fwpenfzwsakkyhtsotfu.supabase.co
#NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5cDLNRJ7YoMfCxsRwu4wHw_zePARGv5

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
